<ion-view view-title="Settings">
    <ion-content>
        <div class="padding text-center">
            <button
                ng-click="settings.logout()"
                class="button button-clear button-assertive"
            >
                Logout
            </button>
        </div>
    </ion-content>
</ion-view>
